body{background-color: aqua;}
h1{background-color:black;
   color: aliceblue;
    padding:2%;
    width: 800px;}
    th{background-color: gold;}
table,th,td{
         padding:1cap;
        text-align: center;}
        h2{color: rgb(43, 2, 10);
        background-color: antiquewhite;width: 20%;}