body{padding-top: 15%;
   padding-left: 2%;
   background-image:url(alamin2.jpg);
   background-size: 50dvh;
   background-size: 100dvw;
   background-repeat: no-repeat;
}
h1{font-family: 'Courier New', Courier, monospace;
font-size: 4cap;color: antiquewhite;}
h3{color: rgb(38, 136, 136);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
button{background-color: rgb(51, 37, 172);color: aliceblue;width: 10%;height: 30px;border-radius: 50cap;}
h2{color: bisque;}